<h1>oAuth Test Site</h1>

<h4><a href="/">home</a><h4>

<a href="/turtles">turtles</a>
<a href="/bears">bears</a>


<% if @access["access"]["access_id"] != nil %>
  <p>Welcome  <%= @access["access"]["user"]["first_name"]%> <%= @access["access"]["user"]["last_name"] %> </p>
  <p>Here's your access  <%= @access %> </p>
<% end %>
